@charset "UTF-8";

*{
    margin: 0px;
    
}

body{
    background-color: rgb(0, 79, 197);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    margin: 50px;
    color: #eef1e8ff;
    font-size: 1.5em;
}

section{
    margin:auto;
    padding: 12px;
    width: 600px;
    background-color: #eef1e8ff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432);
}

section div{
    padding: 5px;
}

section p{
    margin-bottom: 20px;
    font-weight: bold;
}


footer{
    margin: 15px;
    text-align: center;

    color:#eef1e8ff;
    font-size: 1.5em;
}

footer a{
    text-decoration: none;
    color: #eef1e8ff;
}